.bgimage {
  width:100%;
  height:680px;
  background: url('../img/bghero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}
.bgimage h5 {
  color:white;
}
.bgimage p {
	color: white;
	font-size: 20px;
}
.bgimage img {
    border-radius: 50%;
}